.carouselbox {
    font-family: helvetica,sans-serif;
    font-size: 14px;
    width: 100px;
    position: relative;
    margin: 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
}
.students {
    margin: 0;
    padding: 0;
}
.students li {
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 400px;
    list-style: none;
    text-align: center;
}
.active .buttons {
    padding: 5px 0;
    background: #eee;
    text-align: center;
    z-index: 10;
    position: relative;
}
.carouselbox button {
    border: none;
    display: none;
}
.active button {
    display: block;
}
.offscreen {
    position: absolute;
    left: -2000px;
}